<div class="top-bar">
 <app-navigation-bar></app-navigation-bar>
</div>

<div class="body-part">
 <div class="line-graph-wrapper-mudcrab">
   <app-history-mudcrab *ngIf="avg_MudCrab" [avgMudcrab]="avg_MudCrab"></app-history-mudcrab>
 </div>
</div>

<div class="body-divider">
</div>

<div class="body-part">
  <div class="line-graph-wrapper-paddy">
    <app-history-paddy *ngIf="avg_Paddy" [avgPaddy]="avg_Paddy"></app-history-paddy>
  </div>
</div>

<div class="body-divider">
</div>

<div class="footer">
</div>