.top-bar{
 width: 100%;
 height: 100%;
 background-color: white;
}

.body-part{
 width: 100%;
 height: fit-content;
}

.body-divider{
 height: 1px;
 background-color: white;
}

.line-graph-wrapper-mudcrab{
 padding: 20px;
}

.line-graph-wrapper-paddy{
 padding: 20px;
}

.footer{
 height: 30px;
}