<div class="chart-wrapper">

  <div class="statistics-title">
    <h1>(A)  <span>Mud-Crab Pond Reading History</span></h1>
    <h2>***Note: 1 average reading is recorded on every 24 entries of the real-time data reading</h2>
  </div>

  <div class="data-reading-group">
    <app-average-reading-mudcrab [name]="'Average Temperature'" [value]="single_temperatureM" [symbol]="'°C'"></app-average-reading-mudcrab>
    <app-average-reading-mudcrab [name]="'Average pH Value'" [value]="single_pHM" [symbol]="''"></app-average-reading-mudcrab>
    <app-average-reading-mudcrab [name]="'Average Salinity'" [value]="single_salinityM" [symbol]="'%'"></app-average-reading-mudcrab>
    <app-average-reading-mudcrab [name]="'Average Water Level'" [value]="single_waterLevelM" [symbol]="'cm'"></app-average-reading-mudcrab>
  </div>

  <div class="line-chart-group">
   <fieldset class="line-chart">
     <canvas id="temperatureM"></canvas>
   </fieldset>
   <fieldset class="line-chart">
     <canvas id="pHM"></canvas>
   </fieldset>
   <fieldset class="line-chart">
     <canvas id="salinityM"></canvas>
   </fieldset>
   <fieldset class="line-chart">
     <canvas id="waterLevelM"></canvas>
   </fieldset>
 </div>
 
</div>

