<div class="chart-wrapper">

  <div class="data-reading-group">

    <div class="data-reading-box-temperature">
      <app-current-reading-paddy
      [name]="'Temperature'" [range]="'27 - 30'" 
      [isDangerText]="temperature_bool" 
      [readingValue]="currentReading_temperaturePaddy" 
      [refNumber]="temperatureRef" 
      (increment)="plusTemperature()" 
      (decrement)="minusTemperature()">
      </app-current-reading-paddy>
    </div>

    <div class="data-reading-box-moisture">
      <app-current-reading-paddy
      [name]="'Moisture'" [range]="'20 - 60'" 
      [isDangerText]="moisture_bool" 
      [readingValue]="currentReading_moisturePaddy" 
      [refNumber]="moistureRef" 
      (increment)="plusMoisture()" 
      (decrement)="minusMoisture()">
      </app-current-reading-paddy>
    </div>

    <div class="data-reading-box-waterLevel">
      <app-current-reading-paddy 
      [name]="'Water Level'" 
      [range]="'1 - 5'" 
      [isDangerText]="waterLevel_bool" 
      [readingValue]="currentReading_waterLevelPaddy" 
      [refNumber]="waterLevelRef" 
      (increment)="plusWaterLevel()" 
      (decrement)="minusWaterLevel()">
      </app-current-reading-paddy>
    </div>

  </div>
 

  <div class="line-chart-group">
   <div class="line-chart">
    <canvas id="temperaturePaddy"></canvas>
   </div>
   <div class="line-chart">
    <canvas id="moisturePaddy"></canvas>
   </div>
   <div class="line-chart">
    <canvas id="waterLevelPaddy"></canvas>
   </div>
  </div>

</div>