.data-reading-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
    color: white;
}

.data-reading-box-temperature{
    background-color: blue;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.data-reading-box-pH{
    background-color: purple;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.data-reading-box-salinity{
    background-color: green;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.data-reading-box-waterLevel{
    background-color: orange;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.line-chart-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
}

.line-chart{
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}