<div class="chart-wrapper">

  <div class="data-reading-group">
    
    <div class="data-reading-box-temperature">
      <app-current-reading-mudcrab
      [name]="'Temperature'" [range]="'27 - 30'" 
      [isDangerText]="temperature_bool" 
      [readingValue]="currentReading_temperatureMudcrab" 
      [refNumber]="temperatureRef" 
      (increment)="plusTemperature()" 
      (decrement)="minusTemperature()">
      </app-current-reading-mudcrab>
    </div>

    <div class="data-reading-box-pH">
      <app-current-reading-mudcrab
      [name]="'ph Value'" [range]="'7.5 - 8.5'" 
      [isDangerText]="pH_bool" 
      [readingValue]="currentReading_pHMudcrab" 
      [refNumber]="pHRef" 
      (increment)="pluspH()" 
      (decrement)="minuspH()">
      </app-current-reading-mudcrab>
    </div>

    <div class="data-reading-box-salinity">
      <app-current-reading-mudcrab
      [name]="'Salinity'" [range]="'28 - 32'" 
      [isDangerText]="salinity_bool" 
      [readingValue]="currentReading_salinityMudcrab" 
      [refNumber]="salinityRef" 
      (increment)="plusSalinity()" 
      (decrement)="minusSalinity()">
      </app-current-reading-mudcrab>
    </div>

    <div class="data-reading-box-waterLevel">
      <app-current-reading-mudcrab 
      [name]="'Water Level'" 
      [range]="'1 - 5'" 
      [isDangerText]="waterLevel_bool" 
      [readingValue]="currentReading_waterLevelMudcrab" 
      [refNumber]="waterLevelRef" 
      (increment)="plusWaterLevel()" 
      (decrement)="minusWaterLevel()">
      </app-current-reading-mudcrab>
    </div>

  </div>

  <div class="line-chart-group">
    <fieldset class="line-chart">
      <canvas id="temperatureMudcrab"></canvas>
    </fieldset>
    <fieldset class="line-chart">
      <canvas id="pHMudcrab"></canvas>
    </fieldset>
    <fieldset class="line-chart">
      <canvas id="salinityMudcrab"></canvas>
    </fieldset>
    <fieldset class="line-chart">
      <canvas id="waterLevelMudcrab"></canvas>
    </fieldset>
  </div>
  
</div>

